@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(230, 234, 236);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.defaultButton {
  background-color: rgba(235, 238, 239, 0.5);
  color: rgba(40, 42, 42, 0.9);
}

.defaultButton:hover {
  background-color: rgba(46, 151, 185, 0.8);
  color: rgba(255, 255, 255, 0.9);
}